<!-- フォロワーの一覧-->
<div class="container py-5">
  <% if @users.exists? %>
    <%= render "public/users/list", users: @users %>
  <% else %>
    <div class="text-center">フォロワーはいません</div>
  <% end %>
</div>
