<div class="right-container d-flex justify-content-end">
  <p id="chat_<%= chat.id %>" class="bg-success-subtle p-5 text-right"><%= chat.message %></p>
  <%= button_to "削除", chat_path(chat), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm ml-2", remote: true, id: "delete_chat_#{chat.id}" %>
</div>